{% extends "MainBundle::edit.html.twig" %}
{% block titulo %}Líneas de Subtransmisión{%endblock%}

{%block entidad%}
<i class="icon-exchange exchange-icon"></i>
<a href="{{ path('subtransmision') }}">Líneas de Subtransmisión</a>
{%endblock%}

{%block mapatitulo%}Editar Línea de Subtransmisión{%endblock%}
{%block pagetitulo%}Líneas de Subtransmisión{%endblock%}
{%block pagedetalle%}Editar Línea{%endblock%}

 {%block formulario%}
<form action="{{ path('subtransmision_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<div class="control-group">
        <label class="control-label" for="">Subestación de Llegada</label>
        <div class="controls">
                {{ form_widget(edit_form.subestacionSalida, {'attr': {'data-original-title': 'Escoja una subestación de salida'}}) }}
        </div>
</div>
<div class="control-group">
        <label class="control-label" for="">Subestación de Salida</label>
        <div class="controls">
                {{ form_widget(edit_form.subestacionLlegada) }}
        </div>
</div>        
{{ form_rest(edit_form) }}
{%endblock%}

{%block link%}
<a href="{{ path('subtransmision') }}"  
{%endblock%}

{%block linkeliminar%}
<a href="#" 
{%endblock%}
   
{%block plugins%}
{{parent()}}
{%endblock%}

{%block scripthijo%}
<script type="text/javascript">
window.onload = function(){
    var elemento=document.getElementById("mnsubtransmisiones");
    elemento.classList.add('active');
    elemento.parentNode.parentNode.classList.add('active');
    elemento.parentNode.parentNode.classList.add('open');
};
$(function() {
    $("#bteliminar").on(ace.click_event, function() {
            bootbox.confirm("Estas seguro de eliminar registro?", function(result) {
                if(result){
                    location.href="{{ path('subtransmision_eliminar', { 'id': entity.id }) }}";
                }
            });
    });
});
</script>
{%endblock%}