{% extends "MainBundle::show.html.twig" %}
{% block titulo %}Líneas de Subtransmisión{%endblock%}

{%block entidad%}
<i class="icon-exchange exchange-icon"></i>
<a href="{{ path('subtransmision') }}">Líneas de Subtransmisión</a>
{%endblock%}

{%block mapatitulo%}Ver Línea de Subtransmisión{%endblock%}
{%block pagetitulo%}Líneas de Subtransmisión{%endblock%}
{%block pagedetalle%}Ver Línea{%endblock%}


{%block datos%}    
<div class="profile-info-row">
            <div class="profile-info-name"> Código </div>
            <div class="profile-info-value">
                    <span >
                        {{ entity.id }}
                    </span>
            </div>
    </div>

    <div class="profile-info-row">
            <div class="profile-info-name"> Descripción </div>
            <div class="profile-info-value">
                <span>
                {{ entity.subestacionSalida }} - {{ entity.subestacionLlegada }}
                </span>
            </div>
    </div>                                 
{%endblock%}
{%block linkeliminar%}
<a href="#" 
{%endblock%}  
{%block link%}
<a href="{{ path('subtransmision') }}"
{%endblock%}
{%block linkedit%}
<a href="{{ path('subtransmision_edit', { 'id': entity.id }) }}" 
{%endblock%}
   
{%block plugins%}
{{parent()}}
{%endblock%}

{%block scripthijo%}
<script type="text/javascript">
window.onload = function(){
    var elemento=document.getElementById("mnsubtransmisiones");
    elemento.classList.add('active');
    elemento.parentNode.parentNode.classList.add('active');
    elemento.parentNode.parentNode.classList.add('open');
};
$(function() {
    $("#bteliminar").on(ace.click_event, function() {
            bootbox.confirm("Estas seguro de eliminar registro?", function(result) {
                if(result){
                    location.href="{{ path('subtransmision_eliminar', { 'id': entity.id }) }}";
                }
            });
    });
});
</script>
{%endblock%}
