{% extends "MainBundle::show.html.twig" %}
{% block titulo %}Trabajadores{%endblock%}

{%block entidad%}
<i class="icon-exchange exchange-icon"></i>
<a href="{{ path('trabajador') }}">Trabajadores</a>
{%endblock%}

{%block mapatitulo%}Ver Trabajador{%endblock%}
{%block pagetitulo%}Trabajadores{%endblock%}
{%block pagedetalle%}Ver Trabajador{%endblock%}


{%block datos%}    
<div class="profile-info-row">
    <div class="profile-info-name">Código</div>
    <div class="profile-info-value"><span >
            {{ entity.codigo }}</span>
    </div>
</div>        
<div class="profile-info-row">
    <div class="profile-info-name">Cedula</div>
    <div class="profile-info-value"><span >
            {{ entity.id }}</span>
    </div>
</div>        
<div class="profile-info-row">
    <div class="profile-info-name">Apellidos</div>
    <div class="profile-info-value"><span >
            {{ entity.apellidos }}</span>
    </div>
</div>        
<div class="profile-info-row">
    <div class="profile-info-name">Nombres</div>
    <div class="profile-info-value"><span >
            {{ entity.nombres }}</span>
    </div>
</div>        
<div class="profile-info-row">
    <div class="profile-info-name">Dirección</div>
    <div class="profile-info-value"><span >
            {{ entity.departamento.subsistema }}</span>
    </div>
</div>        
<div class="profile-info-row"  style="height:50px">
<div class="profile-info-name">Departamento</div>
    <div class="profile-info-value"><span >
            {{ entity.departamento }}</span>
    </div>
</div>                 
{%endblock%}
{%block linkeliminar%}
<a href="#"
{%endblock%}  
{%block link%}
<a href="{{path('trabajador')}}"
{%endblock%}
{%block linkedit%}
<a href="{{ path('trabajador_edit', { 'id': entity.id }) }}" 
{%endblock%}
   
{%block plugins%}
{{parent()}}
{%endblock%}
    
{%block scripthijo%}
<script type="text/javascript">
window.onload = function(){
    var elemento=document.getElementById("mntrabajadores");
    elemento.classList.add('active');
    elemento.parentNode.parentNode.classList.add('active');
    elemento.parentNode.parentNode.classList.add('open');
};
$(function() {
    $("#bteliminar").on(ace.click_event, function() {
            bootbox.confirm("Estas seguro de eliminar registro?", function(result) {
                    if(result){
                        location.href="{{ path('trabajador_eliminar', { 'id': entity.id }) }}";
                    }
            });
    });
});
</script>
{%endblock%}
