{% extends "MainBundle::edit.html.twig" %}
{% block titulo %}Subsistemas{%endblock%}

{%block entidad%}
<i class="icon-exchange exchange-icon"></i>
<a href="{{ path('subsistema') }}">Subsistemas</a>
{%endblock%}

{%block mapatitulo%}Editar Subsistema{%endblock%}
{%block pagetitulo%}Subsistemas{%endblock%}
{%block pagedetalle%}Editar Subsistema{%endblock%}

 {%block formulario%}
<form action="{{ path('subsistema_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<div class="control-group">
    <label class="control-label" for="">Código</label>
    <div class="controls">
            {{ form_widget(edit_form.codigo) }}
    </div>
</div>   
<div class="control-group">
        <label class="control-label" for="">Descripción</label>
        <div class="controls">
                {{ form_widget(edit_form.descripcion) }}
        </div>
</div>        
{{ form_rest(edit_form) }}
{%endblock%}

{%block link%}
<a href="{{ path('subsistema') }}"  
{%endblock%}

{%block linkeliminar%}
<a action="#"
{%endblock%}
   
{%block plugins%}
{{parent()}}
{%endblock%}
    
{%block scripthijo%}
<script type="text/javascript">
window.onload = function(){
    var elemento=document.getElementById("mnsubsistemas");
    elemento.classList.add('active');
    elemento.parentNode.parentNode.classList.add('active');
    elemento.parentNode.parentNode.classList.add('open');
};
$(function() {
    $("#bteliminar").on(ace.click_event, function() {
            bootbox.confirm("Estas seguro de eliminar registro?", function(result) {
                    if(result){
                        location.href="{{ path('subsistema_eliminar', { 'id': entity.id }) }}";
                    }
            });
    });
});
</script>
{%endblock%}
