<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf>
    <dynamic-page>
        <div class="page-content">    
            <div class="page-header position-relative">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="well well-small">
                            <table>
                                <tr>
                                    <td width="80%">
                                        <h1>C E N E L   E P </h1>
                                        <h2>Reporte del Historial de depreciaciones del activo {%if entities%}{{ entities[0].lsubestacion.codigo ~' - ' ~entities[0].lsubestacion.descripcion }}{%endif%}</h2>
                                    </td>
                                    <td>
                                        <div>{{ "now"|date("d/m/Y", "America/Guayaquil") }}</div>
                                        <div>{{ "now"|date( " H:i:s","America/Guayaquil") }}</div>
                                        <div>{{ app.user.apellidos ~' '~app.user.nombres }}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>    
                    </div>
                </div>
            </div><!--/.page-header-->
            <div height="20px"></div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="space-10"></div>
                    <!--PAGE CONTENT BEGINS-->   
                    {%if entities%}
                    <table  class="table table-striped table-bordered table-hover">
                            <tr>
                                <td width="30%">Código</td>
                                <td>{{ entities[0].lsubestacion.codigo }}</td>
                            </tr>
                            <tr>
                                <td>Descripción</td>
                                <td>{{ entities[0].lsubestacion.descripcion }}</td>
                            </tr>
                            <tr>
                                <td>Departamento</td>
                                <td>{{ entities[0].lsubestacion.trabajador.departamento}}</td>
                            </tr>
                            <tr>
                                <td>Responsable</td>
                                <td>{{ entities[0].lsubestacion.trabajador}}</td>
                            </tr>
                            <tr>
                                <td>Nº de Documento</td>
                                <td>{{ entities[0].lsubestacion.numeroDocumento}}</td>
                            </tr>
                            <tr>
                                <td>Fecha de Documento</td>
                                <td>{{ entities[0].lsubestacion.fechAdquisicion|date('d/m/Y')}}</td>
                            </tr>
                            <tr>
                                <td>Marca</td>
                                <td>{{ entities[0].lsubestacion.marca }}</td>
                            </tr>
                            <tr>
                                <td>Serie</td>
                                <td>{{ entities[0].lsubestacion.serie }}</td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td>{{ entities[0].lsubestacion.estado }}</td>
                            </tr>                                
                            <tr>
                                <td>Fecha de Alta</td>
                                <td>{{ entities[0].lsubestacion.fechaRegistro|date('d/m/Y') }}</td>
                            </tr>                             
                            <tr>
                                <td>Precio de Adquisición</td>
                                <td>{{ entities[0].lsubestacion.valorAdquisicion }}</td>
                            </tr>       
                    </table>
                    <div><h2>Historial de Depreciaciones</h2></div>
                    <table  id="sample-table-2" class="table table-striped table-bordered table-hover">
                            <tr>
                                <td width="50%">Fecha de depreciacion</td>
                                <td width="50%">Depreciación Acumulada</td>
                            </tr>
                            {% for entity in entities %}
                                <tr> 
                                    <td>{{ entity.fechaDepreciacion|date('d/m/Y')}}</td>
                                    <td>-{{ entity.deprecAcumulada}}</td>
                                </tr>
                            {% endfor %}
                    </table>
                    {%else%}
                    No hay depreciaciones que presentar
                    {%endif%}
                    <!--PAGE CONTENT ENDS-->
                </div><!--/.span-->
            </div><!--/.row-fluid-->
        </div><!--/.page-content-->
    </dynamic-page>
</pdf>
