{% extends "MainBundle::new.html.twig" %}
{% block titulo %}Departamentos{%endblock%}
{%block pluginstyle%}
<link rel="stylesheet" href="{{asset('bundles/ace/assets/css/chosen.css')}}" />
{%endblock%}
{%block entidad%}
<a href="{{ path('departamento') }}">Departamentos</a>
{%endblock%}

{%block mapatitulo%}Nuevo Departamento{%endblock%}
{%block pagetitulo%}Departamentos{%endblock%}
{%block pagedetalle%}Nuevo Departamento{%endblock%}

{%block formulario%}
<form action="{{ path('departamento_create') }}" method="post" {{ form_enctype(form) }}>
<div class="control-group">
        <label class="control-label" for="">
            Dirección
        </label>
        <div class="controls">
                {{ form_widget(form.subsistema, {'attr' :  {'class' : 'chzn-select input-large', 'data-placeholder':'Escoja una opcion..'}}) }}
        </div>
</div>
<div class="control-group">
        <label class="control-label" for="">
            Descripción
        </label>
        <div class="controls">
                {{ form_widget(form.descripcion) }}
        </div>
</div>
                {{ form_rest(form) }}
{%endblock%}
{%block link%}
<a href="{{ path('departamento') }}"  
{%endblock%}
   {%block plugins%}
{{parent()}}
   <script src="{{asset('bundles/ace/assets/js/chosen.jquery.min.js')}}"></script>
{%endblock%}
{%block scripthijo%}
<script type="text/javascript">
    window.onload = function(){
        var elemento=document.getElementById("mndepartamentos");
        elemento.classList.add('active');
        elemento.parentNode.parentNode.classList.add('active');
        elemento.parentNode.parentNode.classList.add('open');
        $(".chzn-select").chosen(); 
    };
</script>
{%endblock%}