{% extends "MainBundle::new.html.twig" %}
{% block titulo %}Programas{%endblock%}

{%block entidad%}
<a href="{{ path('plan') }}">Programas</a>
{%endblock%}

{%block mapatitulo%}Nuevo Plan{%endblock%}
{%block pagetitulo%}Programas{%endblock%}
{%block pagedetalle%}Nuevo Plan{%endblock%}

{%block formulario%}
<form action="{{ path('plan_create') }}" method="post" {{ form_enctype(form) }}>
<div class="control-group">
        <label class="control-label" for="">
            Código
        </label>
        <div class="controls">
                {{ form_widget(form.id) }}
        </div>
</div>
<div class="control-group">
        <label class="control-label" for="">
            Descripción
        </label>
        <div class="controls">
                {{ form_widget(form.descripcion) }}
        </div>
</div>
{{ form_rest(form) }}
{%endblock%}
{%block link%}
<a href="{{ path('plan') }}"  
{%endblock%}

{%block scripthijo%}
<script type="text/javascript">
    window.onload = function(){
        var elemento=document.getElementById("mnplan");
        elemento.classList.add('active');
        elemento.parentNode.parentNode.classList.add('active');
        elemento.parentNode.parentNode.classList.add('open');
    };
</script>
{%endblock%}



