{% extends '::base.html.twig' %}

{% block titulo %}Reporte de Activos{%endblock%}

{%block pluginstyle%}
<link rel="stylesheet" href="{{asset('bundles/ace/assets/css/chosen.css')}}" />
<link rel="stylesheet" href="{{asset('bundles/ace/assets/css/datepicker.css')}}" />
<link rel="stylesheet" href="{{asset('bundles/ace/assets/css/bootstrap-timepicker.css')}}" />
<link rel="stylesheet" href="{{asset('bundles/ace/assets/css/daterangepicker.css')}}" />
{%endblock%}

{% block mapasitio%}
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="{{path('usuario_index')}}">Inicio</a>
            <span class="divider"><i class="icon-angle-right arrow-icon"></i></span>
        </li>
        <li class="active">Reporte de Activos</li>
    </ul><!--.breadcrumb-->
</div>
{%endblock%}

{% block pagecontent%}
<div class="page-content">
    <div class="row-fluid">
        <div class="span6">            
            <!--PAGE CONTENT BEGINS-->
            <div class="widget-box">
                <div class="widget-header">
                        <h4>{%block pagetitulo%}Reporte de Activos{%endblock%}
                            <small><i class="icon-double-angle-right"></i> {%block pagedetalle%}Reporte de Altas{%endblock%}</small>
                        </h4>        
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <form action="{#{ path('reportes_create')}#}" method="post" {#{ form_enctype(form) }#} class='form-horizontal'>
                        <div class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label" for="">Desde</label>
                                    <div class="controls">
                                        <input class="span10" type="date" name="date-range-picker" id="fechdesde" data-date-format="dd-mm-yyyy"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="">Hasta</label>
                                    <div class="controls">
                                        <input class="span10" type="date" name="date-range-picker" id="fechasta" data-date-format="dd-mm-yyyy"/>
                                    </div>
                                </div>
                                <div class="well well-small"> 
                                    <div class="center">
                                        <a class="btn btn-small btn-pink " id="btaceptar" target="_blank">
                                            <i class="icon-search bigger-150"></i>Aceptar
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>          
            
            <!--PAGE CONTENT ENDS-->
        </div><!--/.span-->
    </div><!--/.row-fluid-->
    <div id="contenido">                
    </div>
</div><!--/.page-content-->
{%endblock%}

{%block plugins%}
<script src="{{asset('bundles/ace/assets/js/chosen.jquery.min.js')}}"></script>
<script src="{{asset('bundles/ace/assets/js/date-time/bootstrap-datepicker.min.js')}}"></script>
<script src="{{asset('bundles/ace/assets/js/date-time/daterangepicker.min.js')}}"></script>
<script src="{{asset('bundles/ace/assets/js/date-time/bootstrap-datepicker.min.js')}}"></script>
<script src="{{asset('bundles/ace/assets/js/date-time/moment.min.js')}}"></script>
<script src="{{asset('bundles/ace/assets/js/date-time/daterangepicker.min.js')}}"></script>
<script src="{{asset('bundles/ace/assets/js/bootbox.min.js')}}"></script>
{%endblock%}

{%block script%}
{{parent()}}
<script type="text/javascript">
jQuery(document).ready(function() {
    var elemento=document.getElementById("mnrp2");
    elemento.classList.add('active');
    elemento.parentNode.parentNode.classList.add('active');
    elemento.parentNode.parentNode.classList.add('open');      
    
        function aesmayorm(){
            if($("#fechdesde").val()>$("#fechasta").val()){
                bootbox.dialog("La fecha de fin debe ser mayor que la fecha de inicio", [{
                        "label" : "Aceptar",
                        "class" : "btn-small btn-success",
                        "callback": function() {}
                    }]
                );
                $("#fechasta").val("");
            }
        }
        function mensajem(){
            bootbox.dialog("Debe ingresar fecha de inicio", [{
                    "label" : "Aceptar",
                    "class" : "btn-small btn-success",
                    "callback": function() {}
                }]
            );
            $("#fechasta").val("");
        }

        $("#fechasta").change(function(){
            var fechAdq=$("#fechdesde").val();
            if(fechAdq==""){
                mensajem();
            }
            aesmayorm();
        });     


        $("#fechdesde").change(function(){
            if(!($("#fechasta").val(""))){
                aesmayorm();
            }
        });
        
    $(".chzn-select").chosen(); 
    /*
    $('#fechdesde').daterangepicker().prev().on(ace.click_event, function(){
            $(this).next().focus();
    });
    $('#fechasta').daterangepicker().prev().on(ace.click_event, function(){
            $(this).next().focus();
    });
    */
    $('.date-picker').datepicker().next().on(ace.click_event, function(){
                    $(this).prev().focus();
            });
});
$("#btaceptar").click(function(){    
    var desde = $('#fechdesde').val();
    var hasta = $('#fechasta').val();
    if(desde!=""&&hasta!=""){
        window.open("/afijos/web/app.php/empadmin/reportes/"+desde+"/"+hasta+"/reporte2",'_blank');
        //window.location.href = "{#{ path('reportes_reporte1' , {'desdestr': fechdesde, 'hastastr': fechasta})}#}";
    }
    else{
            bootbox.dialog("Debe ingresar un rango de fechas", [{
                    "label" : "Aceptar",
                    "class" : "btn-small btn-success",
                    "callback": function() {}
                }]
            );
        }
});
</script>
{%endblock%}