{% extends "MainBundle::edit.html.twig" %}
{% block titulo %}Cuentas Contables{%endblock%}

{%block entidad%}
<i class="icon-exchange exchange-icon"></i>
<a href="{{ path('cuentacontable') }}">Cuentas Contables</a>
{%endblock%}

{%block mapatitulo%}Editar Cuenta Contable{%endblock%}
{%block pagetitulo%}Cuentas Contables{%endblock%}
{%block pagedetalle%}Editar Cuenta Contable{%endblock%}

 {%block formulario%}
<form action="{{ path('cuentacontable_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
<div class="control-group">
        <label class="control-label" for="">Código</label>
        <div class="controls">
                {{ form_widget(edit_form.codigo) }}
        </div>
</div>        
    <div class="control-group">
        <label class="control-label" for="">Descripción</label>
        <div class="controls">
                {{ form_widget(edit_form.descripcion) }}
        </div>
</div>        
{{ form_rest(edit_form) }}
{%endblock%}

{%block link%}
<a href="{{ path('cuentacontable') }}"  
{%endblock%}

{%block linkeliminar%}
<a action="#"
{%endblock%}
   
{%block plugins%}
{{parent()}}
{%endblock%}
    
{%block scripthijo%}
<script type="text/javascript">
window.onload = function(){
    var elemento=document.getElementById("mncuentacontables");
    elemento.classList.add('active');
    elemento.parentNode.parentNode.classList.add('active');
    elemento.parentNode.parentNode.classList.add('open');
};
$(function() {
    $("#bteliminar").on(ace.click_event, function() {
            bootbox.confirm("Estas seguro de eliminar registro?", function(result) {
                    if(result){
                        location.href="{{ path('cuentacontable_eliminar', { 'id': entity.id }) }}";
                    }
            });
    });
});
</script>
{%endblock%}
