{% extends "MainBundle::new.html.twig" %}
{% block titulo %}Cuentas Contables{%endblock%}

{%block entidad%}
<a href="{{ path('cuentacontable') }}">Cuentas Contables</a>
{%endblock%}

{%block mapatitulo%}Nueva Cuenta Contable{%endblock%}
{%block pagetitulo%}Cuentas Contables{%endblock%}
{%block pagedetalle%}Nueva Cuenta Contable{%endblock%}

{%block formulario%}
<form action="{{ path('cuentacontable_create') }}" method="post" {{ form_enctype(form) }}>
<div class="control-group">
        <label class="control-label" for="">
            Código
        </label>
        <div class="controls">
                {{ form_widget(form.codigo) }}
        </div>
</div>
<div class="control-group">
        <label class="control-label" for="">
            Descripción
        </label>
        <div class="controls">
                {{ form_widget(form.descripcion) }}
        </div>
</div>
                {{ form_rest(form) }}
{%endblock%}
{%block link%}
<a href="{{ path('cuentacontable') }}"  
{%endblock%}

{%block scripthijo%}
<script type="text/javascript">
    window.onload = function(){
        var elemento=document.getElementById("mncuentacontables");
        elemento.classList.add('active');
        elemento.parentNode.parentNode.classList.add('active');
        elemento.parentNode.parentNode.classList.add('open');
    };
</script>
{%endblock%}



